#app {
  height: 100vh;
  text-align: center;
}

#Loading {
  display: none;
}

body.loading #Loading,
body.lockloading #Loading {
  display: flex;
}

#TopSelector {
  padding: 1rem;
  background-color: rgba(0, 0, 128, 0.06);
}
